footer {
  color: azure;
}

.footer-link {
  color: azure;
}
header>.icons{
  color:black ;
}
.icons{
  margin-right: 4px;
  margin-left: 4px;
  
}
.icons:hover{
  cursor: pointer;
}
.modal-title{
  margin-left: 12rem;
}

.modal-content{
  color: black;
  background-color: rgba(131, 81, 81, 0.482)
}
.form{
  font-family: Arial, Helvetica, sans-serif;
   background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0, 0,0.2); 
}

#loginButton{
  margin-left: 20rem
}

#signUpButton{
  width: 400px;
}
.modalInput{
  width: 100%;
}


footer{
  width: 100vw;
}